<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.era7.bioinfo.metagenomics.server.listeners.MainListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetSamples</servlet-name>
        <servlet-class>com.era7.bioinfo.metagenomics.server.servlet.GetSamplesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTaxonomyTree</servlet-name>
        <servlet-class>com.era7.bioinfo.metagenomics.server.servlet.GetTaxonomyTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWholeTaxonomyTreeForSample</servlet-name>
        <servlet-class>com.era7.bioinfo.metagenomics.server.servlet.GetWholeTaxonomyTreeForSample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSamples</servlet-name>
        <url-pattern>/GetSamples</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>GetTaxonomyTree</servlet-name>
        <url-pattern>/GetTaxonomyTree</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>GetWholeTaxonomyTreeForSample</servlet-name>
        <url-pattern>/GetWholeTaxonomyTreeForSample</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
